.font-stability {
  line-height: normal;
  font-size: 14px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

.new_margin_0{
  margin-bottom: 0 !important;  
}

.new_margin_tp_5{
  margin-top: 5px !important;  
}

.new_margin_bt_5{
  margin-bottom: 5px !important;  
}

.new_margin_tp_10{
  margin-top: 10px !important;  
}

.new_margin_bt_10{
  margin-bottom: 10px !important;  
}

.new_margin_rt_10{
  margin-right: 10px !important;  
}

.new_margin_5 {
  margin-bottom: 12px !important;
}

.highlight_text {
  font-weight: 600 !important;
}

.contact-holder {
  padding-top: 6px;
}

.location {
  padding-top: 4px;
  font-size: 14px;
  font-style: italic;
}

.green{
 color: #2ed12e !important
}
.text_underline {
  text-decoration: underline !important
}

.pos-relative {
  position: relative;
}

.work-one {
}

.work-exp {
  padding: 0px 0 6px 56px !important
}
.break-page-75 {
  margin-top: 75px;
}